- content_for :head do
  = javascript_include_tag 'jquery.flot'
  = javascript_include_tag 'jquery.flot.resize'
  = javascript_include_tag 'jquery.flot.time'
.row
  .col-md-9
    #placeholder{:style => "width:800px;height:400px;"}
    %script#source{:type => "text/javascript"}
      $(function () {
      $.plot($("#placeholder"), gon.flot_data , gon.flot_options );
      });
    #legend
  .col-md-3
    = search_form_for @search , :url => manage_reports_url , :html => { :class => "well well-small" } do |f|
      .form-group.row
        = f.label :type
        %br/
        = select_tag :type,  options_for_select( { t("order") => "Order" , t("purchase") =>  "Purchase"  } , @type)
      .form-group.row
        .col-md-4
          = f.label :product_name_cont, t("name")
        .col-md-8
          = f.text_field :product_name_cont, :size => 15
        .col-md-4
          = f.label :supplier
        .col-md-8
          = f.text_field :product_supplier_supplier_name_cont, :size => 15
      .form-group.row
        .col-md-4
          = f.label :category
        .col-md-8
          = f.text_field :product_category_name_cont, :size => 15
        .col-md-4
          = f.label :property
        .col-md-8
          = f.text_field :product_properties_cont, :size => 15
      .form-group.row
        .col-md-3
          = f.label :price
        .col-md-3
          = f.text_field :price_gt , :size => 6
        .col-md-1
          
        .col-md-3
          = f.text_field :price_lt , :size => 6
      .form-group.row
        %label= t("date_range")
        .date-range-filter
          .col-md-4
            = f.label :start
          .col-md-8
            = f.text_field :created_at_gt, :class => 'datepicker' , :value => sort_date(:created_at_gt)
          .col-md-4
            = f.label :stop
          .col-md-8
            = f.text_field :created_at_lt, :class => 'datepicker', :value => sort_date(:created_at_lt)
      .form-group.row
        %label= t("group_by")
        %br/
        = select_tag :group_by,  options_for_select( group_options , @group_by)
      .form-group.row
        .col-md-6
          = t(:price)
          = radio_button_tag :price_or,  "total" , :total == @price_or
        .col-md-6
          = t(:quantity)
          = radio_button_tag :price_or,  "quantity" , :quantity == @price_or
      .form-group.row
        .col-md-4
          = button_tag( :name => 'period' , :value => :day ) do
            %span Day
        .col-md-4
          = button_tag( :name => 'period' , :value => :week ) do
            %span Week
        .col-md-4
          = button_tag( :name => 'period' , :value => :month ) do
            %span Month
