.row
  #placeholder.col-md-9{style: "height:600px;"}
    %script#source{type: "text/javascript"}
      :cdata
        $(function () {
        $.plot($("#placeholder"), d , #{raw @flot_options.to_json});
        });
    #legend
  .col-md-3
    = search_form_for @search , :url => accountant_url do |f|
      .box
        %h3= t(:search)
        %div{"data-hook" => "admin_products_index_search"}
          .left.sub-field
            = f.label :name
            %br
            = f.text_field :product_product_name_cont, :size => 15
          .right.sub-field
            = f.label :supplier_name
            %br
            = f.text_field :product_supplier_supplier_name_cont, :size => 15
          .left.sub-field
            = f.label :category_name
            %br
            = f.text_field :product_category_name_cont, :size => 15
          .right.sub-field
            = f.label :properties
            %br
            = f.text_field :product_properties_cont, :size => 15
          %label Price between
          %br
          .left.sub-field
            = f.text_field :price_gt , :size => 6
            %br
            %label.sub= t("more_than")
          .right.sub-field
            = f.text_field :price_lt , :size => 6
            %br
            %label= t("less_than")
          %label= t("date_range")
          %br
          .date-range-filter
            .left.sub-field
              = f.text_field :created_at_gt, :class => 'datepicker'
              %br
              %label.sub= t("start")
            .right.sub-field
              = f.text_field :created_at_lt, :class => 'datepicker'
              %br
              %label= t("stop")
          %p
            %label= t("group_by")
            %br
              = text_field_tag :group_by
          %p
            %label= t("price_or_quantity")
            %br
            = t(:price)
            = radio_button_tag :price_or,  "total" , :total == @price_or
            = t(:quantity)
            = radio_button_tag :price_or,  "quantity" , :quantity == @price_or
          = button_tag( :name => 'period' , :value => :week ) do
            %span Week
          = button_tag( :name => 'period' , :value => :month ) do
            %span Month
          = button_tag( :name => 'period' , :value => :day ) do
            %span Day